$white: #ffffff;
$theme-colors: (
    "light":      #d6dbee,
    "dark":       #040304,
    "primary":    #6b488e,
    "primary-light":#6d5192,
    "primary-xlight":#626497,
    "primary-xxlight":#977fac,
    "primary-dark": #563577,
    "chill": #402e58,
    "secondary":  #393a3d,
    "secondary-dark":  #2c2d30,
    "secondary-light": #636468,
    "info":       #2730f2,
    "success":    #0e9759,
    "warning":    #ddc810,
    "danger":     #ea1f06,
);

@import "bootstrap/scss/bootstrap";

:root {
  --bs-body-bg: #d6dbee;
  
}