/* Entire chat window */
.chat-container {
  margin-left: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(40, 39, 41);
  /* background-color: #969696; */
}
@media (max-width: 768px){
  .chat-container {
    margin-left: 0;
  }
}

/* Top user bar */
.top-bar {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
  flex-shrink: 0;
  color: white;
}
.close{
  font-size: 35px;
}
.close:hover{
  cursor: pointer;
}

/* Scrollable message area */
.messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 15px 20px;
}

.message-line-wrapper{
  margin-bottom: 10px;
}
.my-message-line {
  display: flex;
  justify-content: flex-end;
}
.with-message-line {
  display: flex;
  justify-content: flex-start;
}

/* Message bubbles */
.message-container {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 45%;
  word-wrap: break-word;
}
.my-message-container {
  color: white;
}

.read-receipt {
  font-size: 0.85rem;
  margin-left: auto;
  margin-top: -2px;
  /* color: rgb(22, 22, 22); */
    color: rgb(167, 167, 167);
  text-align: right;
  font-weight: 400;
}
/* Message input */
.message-form-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  
  z-index: 10;
  display: flex;
  align-items: center;
}
.input-form {
    flex: 1;
    margin: 12px;
}
/* send button */
.send-message {
    padding:  3px 15px 0px 15px;
    font-size: 30px;
}
.send-button {
  padding: 0;
}
/* Message text */
.message {
  margin: 0;
}