/* Entire chat window */
.chat-container {
  margin-left: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: #969696;
}

/* Top user bar */
.top-bar {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
  flex-shrink: 0;
  color: white;
}

/* Scrollable message area */
.messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 15px 20px;
}

.message-line-wrapper{
  margin-bottom: 10px;
}
.my-message-line {
  display: flex;
  justify-content: flex-end;
}
.with-message-line {
  display: flex;
  justify-content: flex-start;
}

/* Message bubbles */
.message-container {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
}
.my-message-container {
  color: white;
}

.read-receipt {
  font-size: 0.85rem;
  margin-left: auto;
  margin-top: -2px;
  color: rgb(22, 22, 22);
  text-align: right;
  font-weight: 400;
}
/* Message input */
.message-form-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 12px 16px;
  height: 70px;
  z-index: 10;
  display: flex;
  align-items: center;
}
.input-form {
    flex: 1;
}
/* send button */
.send-message {
    padding:  0px 10px;
    font-size: 30px;
}
/* Message text */
.message {
  margin: 0;
}