.sidebar-container {
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}
@media (max-width: 768px) {
  .sidebar-container {
    transform: translateX(-100%);
  }

  .sidebar-container.open {
    transform: translateX(0);
    background-color: #343a40;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  }
}

.toggle-sidebar {
  position: fixed;
  top: 4rem;
  left: 1rem;
  z-index: 999;
}

.custom-list-item {
  border: none;
  border-radius: 0 !important;
  transition: all ease 0.3s;
  padding: 8px 10px 8px 16px;
}
.custom-list-item:hover {
    background-color: #2f2f33 !important;
}
.custom-list-item-active{
    background-color: #6b488e !important;
}
.custom-list-item-active:hover{
    background-color: #58367a !important;
}
.contact-search::placeholder {
    color: #d6dbee !important;
}
.profile-tab {
    position: fixed;
    bottom: 0;
    width: 300px;
    padding: 10px;
    height: 70px;
}
.name-text {
    max-width: 160px;
}
.logout{
    margin-top: 0.6rem;
    margin-right: 0.5rem;
    color: #f73434;
    cursor: pointer;
    padding: 7px 5px;
    border-radius: 5px;
}
.logout:hover{
    background-color: #202022;
}
.message-preview {
    color: #a2a2aa;
}
.unread-icon{
    width: 10px;
    height: 10px;
    background-color: #a256ee;
    border-radius: 10px;
    margin-top: 7px;
    margin: 7px 0px 0px 10px;
}
.search-new-message{
    height: 50px;
    padding: 7px;
}
